.column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

.box{
    text-align: center;
}

.custom {
    float: none;
}

.col-3 {
    text-align: center;
}

.bg-primary-custom {
    background-color: #007bff;
}

.red{
    background-color: red;
}

.bg-info-custom {
    background-color: #169bb2;
}

#option1 {
    margin-left:3px;
}
  